# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Log Files
*.log
logs/

# SQLite Database
*.db
*.sqlite3

# Environment Variables
.env

# VS Code Settings
.vscode/

# Operating System Files
.DS_Store
Thumbs.db